# IDEs
.idea/

.env
scripts/node_modules
volumes/
nginx/default.conf

# e2e cypress results
frontend/cypress/videos
frontend/cypress/screenshots
frontend/cypress/fixtures/auto-gen

#python
__pycache__/
