version: '2'

services:
  frontend:
    environment:
      - KITSPACE_GITEA_URL=${KITSPACE_SCHEME}://gitea.${KITSPACE_DOMAIN}${KITSPACE_EXTERNAL_PORT}
      - KITSPACE_DOMAIN=${KITSPACE_DOMAIN}
      - MAX_FILE_SIZE=${MAX_FILE_SIZE}
      - MEILI_MASTER_KEY=${MEILI_MASTER_KEY}
      - KITSPACE_MEILISEARCH_URL=${KITSPACE_SCHEME}://meilisearch.${KITSPACE_DOMAIN}${KITSPACE_EXTERNAL_PORT}
    depends_on:
      - meilisearch
      - gitea

  gitea:
    environment:
      - ROOT_URL=${KITSPACE_SCHEME}://gitea.${KITSPACE_DOMAIN}${KITSPACE_EXTERNAL_PORT}/
      - USER_UID=1000
      - USER_GID=1000
      - SECRET_KEY=${GITEA_SECRET_KEY}
      - GITEA__database__DB_TYPE=postgres
      - GITEA__database__HOST=postgres:5432
      - GITEA__database__NAME=gitea
      - GITEA__database__PASSWD=${POSTGRES_PASSWORD}
      - GITEA__database__USER=gitea
      - GITEA__security__INTERNAL_TOKEN=${GITEA_INTERNAL_TOKEN}
      - GITEA__session__PROVIDER=db
    volumes:
      - gitea-data:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    depends_on:
      - postgres

  postgres:
    build:
      context: postgres
    environment:
      - POSTGRES_USER=gitea
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=gitea
      - READONLY_USER=readonly_user
      - READONLY_PASS=${POSTGRES_READONLY_USER_PASSWORD}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    command: postgres -c 'config_file=/etc/postgresql/postgresql.conf'

  nginx:
    environment:
      - MAX_FILE_SIZE=${MAX_FILE_SIZE}
      - KITSPACE_DOMAIN=${KITSPACE_DOMAIN}
      - KITSPACE_SCHEME=${KITSPACE_SCHEME}
      - KITSPACE_EXTERNAL_PORT=${KITSPACE_EXTERNAL_PORT}
      - KITSPACE_ROBOTS_TXT=${KITSPACE_ROBOTS_TXT}
      - SENTRY_DSN=${SENTRY_DSN}
      - SENTRY_RELEASE=${SENTRY_RELEASE}
      - SENTRY_ENVIRONMENT=${SENTRY_ENVIRONMENT}
    depends_on:
      - frontend
      - gitea
      - processor
      - meilisearch
    ports:
      - '${KITSPACE_DEV_PORT}:80'
    healthcheck:
      test: ["CMD", "reachability_healthcheck"]
      interval: 30s
      # If any of the services is unreachable for 2 minutes, mark the container as unhealthy.
      retries: 4
      start_period: 2m

  processor:
    environment:
      - MAXIMUM_REPO_MIGRATION_TIME=${MAXIMUM_REPO_MIGRATION_TIME}
      - KITSPACE_GITEA_URL=${KITSPACE_SCHEME}://gitea.${KITSPACE_DOMAIN}${KITSPACE_EXTERNAL_PORT}
      - GITEA_DB_HOST=postgres
      - GITEA_DB_PORT=5432
      - POSTGRES_DB=gitea
      - GITEA_DB_USER=readonly_user
      - GITEA_DB_PASSWORD=${POSTGRES_READONLY_USER_PASSWORD}
      - LOG_LEVEL=${KITSPACE_PROCESSOR_LOG_LEVEL}
      - REMOTE_API_TOKENS=${KITSPACE_PROCESSOR_REMOTE_API_TOKENS}
      - COMPOSE_PROJECT_NAME=${COMPOSE_PROJECT_NAME}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - MEILI_MASTER_KEY=${MEILI_MASTER_KEY}
      - S3_ACCESS_KEY=${S3_ACCESS_KEY}
      - S3_SECRET_KEY=${S3_SECRET_KEY}
    depends_on:
      - postgres
      - redis
      - meilisearch
    volumes:
      - gitea-data:/gitea-data:ro
      - processor-data:/data
      # share docker daemon when running docker inside docker
      - /var/run/docker.sock:/var/run/docker.sock

  redis:
    image: redis:6.2-alpine
    command: redis-server --requirepass ${REDIS_PASSWORD}

  meilisearch:
    image: getmeili/meilisearch:v0.26.1
    environment:
      - MEILI_MASTER_KEY=${MEILI_MASTER_KEY}
    volumes:
      - meilisearch-data:/data.ms

volumes:
  gitea-data: null
  postgres-data: null
  processor-data: null
  meilisearch-data: null
