version: '2'

services:
  e2e:
    build:
      context: e2e
    environment:
      - CYPRESS_RECORD_KEY=${CYPRESS_RECORD_KEY}
      - GITHUB_TOKEN=${GITHUB_TOKEN}
      - group=${group}
      - browser=${browser}
    depends_on:
      - nginx
    working_dir: /e2e
    volumes:
      - ./e2e:/e2e
      - /etc/hosts:/etc/hosts
