version: '2.3'
services:
  frontend:
    image: ghcr.io/kitspace/frontend${FRONTEND_DEPLOY_IMAGE_TAG}
    environment:
      - NODE_ENV=production
      - 'KITSPACE_ASSET_URL=https://${S3_PROCESSOR_BUCKET_NAME}.s3.amazonaws.com'
    restart: always

  gitea:
    image: ghcr.io/kitspace/gitea${GITEA_DEPLOY_IMAGE_TAG}
    command: /usr/bin/entrypoint
    restart: always
    ports:
      - '3333:3000'

  postgres:
    restart: always

  nginx:
    image: ghcr.io/kitspace/nginx${NGINX_DEPLOY_IMAGE_TAG}
    ports:
      - 443:443
    environment:
      - RUN_CERTBOT=${CERTBOT_ENABLED}
      - CERTBOT_DOMAINS=${KITSPACE_DOMAIN},gitea.${KITSPACE_DOMAIN},meilisearch.${KITSPACE_DOMAIN}
      - CERTBOT_EMAIL=${CERTBOT_EMAIL}
      - 'USE_LOCAL_MINIO=false'
    volumes:
      - /etc/letsencrypt
    restart: always

  processor:
    image: ghcr.io/kitspace/processor${PROCESSOR_DEPLOY_IMAGE_TAG}
    environment:
      - S3_ENDPOINT=${S3_ENDPOINT}
      - S3_PROCESSOR_BUCKET_NAME=${S3_PROCESSOR_BUCKET_NAME}
    restart: always

  redis:
    restart: always

  meilisearch:
    environment:
      - MEILI_ENV=production
    restart: always
