services:
  frontend:
    image: ghcr.io/kitspace/frontend${FRONTEND_DEPLOY_IMAGE_TAG}
    environment:
      - NODE_ENV=production
      - 'KITSPACE_PROCESSOR_ASSET_URL=https://processor-cdn.${KITSPACE_DOMAIN}/${KITSPACE_PROCESSOR_ASSET_VERSION}'
      - 'KITSPACE_FRONTEND_ASSET_URL=https://frontend-cdn.${KITSPACE_DOMAIN}'
    restart: always

  gitea:
    command: /usr/bin/entrypoint
    restart: always
    ports:
      - '8443:3000'

  postgres:
    restart: always

  nginx:
    image: ghcr.io/kitspace/nginx${NGINX_DEPLOY_IMAGE_TAG}
    ports:
      - 443:443
    environment:
      - RUN_CERTBOT=${CERTBOT_ENABLED}
      - CERTBOT_DOMAINS=${KITSPACE_DOMAIN},gitea.${KITSPACE_DOMAIN},meilisearch.${KITSPACE_DOMAIN}
      - CERTBOT_EMAIL=${CERTBOT_EMAIL}
      - 'USE_LOCAL_MINIO=false'
      - BLOCK_ROBOTS=${BLOCK_ROBOTS}
    volumes:
      - nginx-letsencrypt:/etc/letsencrypt
    restart: always

  processor:
    image: ghcr.io/kitspace/processor${PROCESSOR_DEPLOY_IMAGE_TAG}
    environment:
      - S3_ENDPOINT=${S3_ENDPOINT}
      - S3_PROCESSOR_BUCKET_NAME=${S3_PROCESSOR_BUCKET_NAME}
    restart: always

  redis:
    restart: always

  meilisearch:
    environment:
      - MEILI_ENV=production
    restart: always

volumes:
  nginx-letsencrypt: null
