version: '2.3'

services:
  frontend:
    environment:
      - 'KITSPACE_PROCESSOR_ASSET_URL=http://processor-bucket.kitspace-minio.test:3000/${KITSPACE_PROCESSOR_ASSET_VERSION}'
    volumes:
      - /etc/hosts:/etc/hosts:ro

  e2e:
    build:
      context: e2e
    environment:
      - CYPRESS_RECORD_KEY=${CYPRESS_RECORD_KEY}
      - GITHUB_TOKEN=${GITHUB_TOKEN}
      - group=${group}
      - browser=${browser}
      - BUILD_ID=${BUILD_ID}
      - COMMIT_INFO_MESSAGE=${COMMIT_INFO_MESSAGE}
      - COMMIT_INFO_EMAIL=${COMMIT_INFO_EMAIL}
      - COMMIT_INFO_AUTHOR=${COMMIT_INFO_AUTHOR}
      - COMMIT_INFO_SHA=${COMMIT_INFO_SHA}
      - COMMIT_INFO_TIMESTAMP=${COMMIT_INFO_TIMESTAMP}
      - COMMIT_INFO_BRANCH=${COMMIT_INFO_BRANCH}
      - CYPRESS_GITEA_ADMIN_TOKEN=${CYPRESS_GITEA_ADMIN_TOKEN}
    depends_on:
      - nginx
    working_dir: /e2e
    volumes:
      - ./e2e:/e2e
      - /etc/hosts:/etc/hosts:ro

  nginx:
    environment:
      - 'USE_LOCAL_MINIO=true'

  processor:
    environment:
      - 'USE_LOCAL_MINIO=true'
    volumes:
      - /etc/hosts:/etc/hosts:ro

  minio:
    image: quay.io/minio/minio:RELEASE.2022-10-24T18-35-07Z
    environment:
      - MINIO_DOMAIN=kitspace-minio.test
      - MINIO_ROOT_USER=${S3_ACCESS_KEY}
      - MINIO_ROOT_PASSWORD=${S3_SECRET_KEY}
    volumes:
      - minio-data:/data
    command: server /data --console-address ":9090"

volumes:
  minio-data:
