version: '2'

services:
  frontend:
    build:
      context: frontend
      dockerfile: Dockerfile
      target: git-installed
    environment:
      - NODE_ENV=development
    ports:
      - '1234:3000'
      - '9229:9229'
    volumes:
      - /etc/hosts:/etc/hosts:ro
      - ./frontend:/app
      - frontend-node_modules:/app/node_modules
      - frontend-next:/app/.next
    command: /bin/sh --verbose -c 'yarn install && yarn dev'

  gitea:
    build:
      context: gitea
      dockerfile: Dockerfile.gitea.dev
    ports:
      - '3333:3000'
      - '2222:22'
    volumes:
      - ./gitea:/go/src/code.gitea.io/gitea
    # => gitea/docker/root/usr/bin/kitspace_dev_entrypoint
    entrypoint: ["/usr/bin/kitspace_dev_entrypoint"]

  postgres:
    ports:
      - '5432:5432'

  nginx:
    build:
      context: nginx
      dockerfile: Dockerfile

  processor:
    user: root
    build:
      context: processor/
      dockerfile: Dockerfile
    environment:
      - NODE_ENV=development
    ports:
      - '5000:5000'
    volumes:
      - /etc/hosts:/etc/hosts:ro
      - ./processor:/app
      - processor-node_modules:/app/node_modules
    command: /bin/bash --verbose -c 'yarn install && yarn dev'

  redis:
    ports:
      - '6379:6379'

  meilisearch:
    ports:
      - '7700:7700'
    environment:
      - MEILI_ENV=development

volumes:
  frontend-node_modules:
  frontend-next:
  processor-node_modules:
