services:
  frontend:
    build:
      context: frontend
      dockerfile: Dockerfile
      target: git-installed
    environment:
      - NODE_ENV=development
      - 'KITSPACE_PROCESSOR_ASSET_URL=http://processor-bucket.kitspace-minio.test:3000/${KITSPACE_PROCESSOR_ASSET_VERSION_FRONTEND}'
    ports:
      - '1234:3000'
      - '9229:9229'
    volumes:
      - /etc/hosts:/etc/hosts:ro
      - ./frontend:/app
      - frontend-node_modules:/app/node_modules
      - frontend-next:/app/.next
    command: /bin/sh --verbose -c 'yarn install && yarn download-geoip && yarn dev'

  gitea:
    ports:
      - '3333:3000'
      - '2222:22'
    volumes:
      - ./gitea:/go/src/code.gitea.io/gitea

  postgres:
    ports:
      - '5432:5432'

  nginx:
    environment:
      - 'USE_LOCAL_MINIO=true'
    build:
      context: nginx
      dockerfile: Dockerfile

  processor:
    user: root
    build:
      context: processor/
      dockerfile: Dockerfile
    environment:
      - NODE_ENV=development
      - 'USE_LOCAL_MINIO=true'
      - S3_ENDPOINT=http://kitspace-minio.test:3000
      - S3_PROCESSOR_BUCKET_NAME=processor-bucket
    volumes:
      - /etc/hosts:/etc/hosts:ro
      - ./processor:/app
      - processor-node_modules:/app/node_modules
    command: /bin/bash --verbose -c 'yarn install && yarn dev'
    depends_on:
      - minio

  minio:
    image: quay.io/minio/minio:RELEASE.2022-10-24T18-35-07Z
    ports:
      - '9000:9000'
      - '9090:9090'
    environment:
      - MINIO_DOMAIN=kitspace-minio.test
      - MINIO_ROOT_USER=${S3_ACCESS_KEY}
      - MINIO_ROOT_PASSWORD=${S3_SECRET_KEY}
    volumes:
      - minio-data:/data
    command: server /data --console-address ":9090"

  redis:
    ports:
      - '6379:6379'

  meilisearch:
    environment:
      - MEILI_ENV=development

volumes:
  frontend-node_modules:
  frontend-next:
  processor-node_modules:
  minio-data:
