@mixin breakpoint($point) {
  @if $point == small_width {
    @media (max-width: 878px) {
      @content;
    }
  } @else if $point == semantic_container {
    @media (max-width: 1199px) {
      @content;
    }
  } @else if $point == mobile-m {
    @media (max-width: 499px) {
      @content;
    }
  } @else if $point == mobile_menu {
    @media (max-width: 590px) {
      @content;
    }
  }
}
