@import './colors.scss';

.searchInput {
  display: block;
  max-width: min(600px, 90%);
  height: 60px;
  border: 1px solid $lightlightgray;
  margin: 0 auto !important;
  margin-bottom: 48px !important;
  box-sizing: border-box;
  border-radius: 4px;
}

.searchIcon {
  margin-right: 7px !important;
}

main #search-field::placeholder {
  color: $silver-chalice !important;
  font-size: 18px;
}

main #search-field {
  height: 60px;
}

main #search-field:focus {
  border: 1px solid $lightlightgray !important;
}
