.ui.two.column.stackable.center.aligned.grid {
  margin-top: 30px;
  height: 75vh;
  max-width: 1500px;
}

.urlInput {
  @media (min-width: 769px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @media (min-width: 900px) {
    padding-left: 100px;
    padding-right: 100px;
  }
  width: 100%;
  justify-content: center;
}

.urlInput > input {
  max-width: 500px !important;
}

.optionColumn {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.optionColumn > div {
  width: 100%;
}

.dividerContainer {
  align-items: center;
  display: flex;
}
