.projectsNew {
  margin-top: 30px !important;
  height: 75vh;
  max-width: 1500px;
}

.urlInput {
  @media (min-width: 769px) {
    padding-left: 40px;
    padding-right: 40px;
  }
  @media (min-width: 1134px) {
    padding-left: 100px;
    padding-right: 100px;
  }
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
}

.urlInput > input {
  max-width: 500px !important;
}

.optionColumn {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.optionColumn > div {
  width: 100%;
}

.divider {
  @media (max-width: 769px) {
    max-height: 10px !important;
  }
}
