@import "colors";
html,
head,
body {
    margin: 0;
}

body {
    font-family: 'Noto Sans','Helvetica', 'Arial', sans-serif;
    font-size: 16px;

    overflow-y: auto;
}

a {
    color: $mine-shaft;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: $mine-shaft;
    text-decoration: underline;
}

.notSelectable {
    user-select: none;
    cursor: default;
}
