@import '../colors';
@import '../breakpoint';

.titleBar {
  padding: 10px;
  align-items: center;
  background-color: $cod-gray;
  border-bottom-left-radius: 5;
  border-bottom-right-radius: 5;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
  width: 100vw;
  justify-content: space-between;
  @media (max-width: 1330px) {
    justify-content: space-around;
  }
}

.SearchBarContainer {
  display: block !important;
  align-self: center !important;
  padding: 0 0 0 1rem !important;
  width: 24rem;
  @include breakpoint(mobile_menu) {
    width: 90%;
    margin: auto;
    padding: 1rem 0 !important;
  }
}

.bigSocialMenu {
  display: flex;
  @include breakpoint(mobile_menu) {
    display: none;
  }
  align-items: center;
  flex-wrap: wrap;
}

.bigSiteMenu {
  display: flex;
  @include breakpoint(mobile_menu) {
    display: none;
  }
  justify-content: flex-start;
  z-index: 1;
  flex-shrink: 2;
  flex-wrap: wrap;
}

.logoImg {
  height: 46px;
  width: 160px;
  display: block;
}

.logoImg:hover {
  cursor: pointer;
}

.middleContainer {
  flex-grow: 2;
}

.smallMenu .projects:before {
  /* Add a separation line after user specific actions.*/
  background-color: white !important;
  height: 1px !important;
  margin-bottom: 30px !important;
}

.smallNavBar {
  display: none;
  @include breakpoint(mobile_menu) {
    display: flex;
    justify-content: space-around;
    width: 90%;
  }
}

.LogInButton {
  @include breakpoint(mobile_menu) {
    display: flex !important;
    justify-content: center;
  }
}

.icon {
  visibility: hidden;
  width: 0;
  height: 0;
}
