.userName {
  margin-bottom: 10px;
  text-align: center;
}

.userName a:hover {
  text-decoration: none;
  border-radius: 20%;
  background-color: #efeaea;
  padding: 5px;
}
.menu {
  border: none !important;
}

.userMenuIcon {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.userDropDownMenuContainer {
  display: flex;
  align-items: center;
}

.userDropDownMenuContainer:hover {
  text-decoration: none;
}
.userDropDownMenuPopup {
  // Make the drop-down menu drops from the arrow icon
  transform: translate(8px, -5px) !important;
}

.userDropDownMenuPopup *:hover {
  text-decoration: none;
}

.userImage {
  border-radius: 20%;
}
