.userName {
  margin-bottom: 10px;
  text-align: center;
}

.userName a:hover {
  text-decoration: none;
  border-radius: 20%;
  background-color: #efeaea;
  padding: 5px;
}
.menu {
  border: none !important;
}

.userDropDownMenuContainer {
  display: flex;
  align-items: center;
}
