.Bom {
  margin-top: 50px;
  .expandBomTable:hover {
    background-color: #ededed !important;
    .expandSummary {
      background-color: white !important;
    }
  }
  .expandSummary {
    td {
      padding: 2px !important;
    }
    border-top: 0px !important;
    padding: 0px !important;
    font-size: 14px !important;
    background-color: white !important;
  }

  .expandWrapper {
    padding-left: 1px;
    padding-right: 1px;
  }

  .expandTable {
    border-top: 0px;
    cursor: pointer;
  }

  .expandTableRow {
    border-top: 0px;
  }
}
