@import '../../breakpoint.scss';

.notSelectable {
  user-select: none;
  cursor: default;
}

.addPercent {
  margin-left: 5px;
}

.BuyParts {
  .storeIcons {
    height: 16px;
    margin-right: 3px;
    width: 16px;
  }

  .buttonSegment {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
    padding-bottom: 45px;
  }

  .buttonText {
    color: white;
    display: flex;
    @include breakpoint(small_width) {
      flex-wrap: wrap;
    }
  }

  .retailerLabelIcons {
    margin-left: 10px;
    color: rgb(85, 85, 85);
    min-width: 70px;
  }

  button.loading {
    .buttonText {
      opacity: 0.3;
    }
    .storeIcon {
      opacity: 0.3;
    }
  }

  div.retailerButton {
    min-width: 202px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }

  a.ui.left.pointing.basic.label {
    min-width: 218px !important;
  }

  button.retailerButton {
    min-width: 110px;
  }

  .retailerLabelContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .retailerButton.pink {
    background: #da8282 !important;
  }

  .retailerButton.pink:hover {
    background: #dc7c7c !important;
  }

  .retailerLabel.green {
    border: 1px solid #3dd460 !important;
    color: #3dd460 !important;
  }

  .retailerLabel.green:hover {
    color: #21ba45 !important;
    border-color: #21ba45 !important;
  }
  .retailerLabel.pink {
    border: 1px solid #da8282 !important;
    color: #da8282 !important;
  }

  .retailerLabel.pink:hover {
    color: #e61a8d !important;
    border-color: #e61a8d !important;
  }

  .AdjustQuantity {
    border-top: 0px !important;
    border-bottom: 0px !important;
    font-size: 16px;
  }

  .BuyPartsIcon {
    font-size: 14pt !important;
    margin-bottom: 5px;
  }

  .AdjustQuantityIcon {
    margin: 5px;
    margin-top: 0;
  }

  .NoPurchasablePartsText {
    color: rgba(0, 0, 0, 0.87);
  }
}
