@import 'highlight.js/styles/default.css';
@import '../components/colors';
@import '../components/NavBar/fixNavBarAlignment.module.scss';
@import '../components/Board/readme.module.scss';

html,
head,
body {
  margin: 0;
}

body {
  font-family: 'Noto Sans', 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  overflow-y: auto;
}

a {
  color: $mine-shaft;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: $mine-shaft;
  text-decoration: underline;
}

.notSelectable {
  user-select: none;
  cursor: default;
}

.errorMessage {
  left: 50%;
  margin-left: -48%;
  position: fixed;
  bottom: 15px;
  width: 96%;
  z-index: 100;
  max-height: 300px;
}

@media (max-width: 368px) {
  #quantity-input {
    margin: 1rem 0;
  }
}
