@import '../components/colors';

html,
head,
body {
  margin: 0;
}

body {
  font-family: 'Noto Sans', 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  overflow-y: auto;
}

a {
  color: $mine-shaft;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: $mine-shaft;
  text-decoration: underline;
}

.notSelectable {
  user-select: none;
  cursor: default;
}

.errorMessage {
  left: 50%;
  margin-left: -48%;
  position: fixed;
  bottom: 15px;
  width: 96%;
  z-index: 100;
  max-height: 300px;
}

.dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;
}

@media (max-width: 368px) {
  #quantity-input {
    margin: 1rem 0;
  }
}
