.urlInput {
  min-width: 300px;
  max-height: 37px;
  flex-grow: 1;
  margin-bottom: 20px;
  margin: auto !important;
  padding: 0 !important;
}

.syncButton {
  margin: auto !important;
  padding: 0 !important;
}

.syncFormFields {
  display: flex;
  gap: 1em;
}
