.projectsNew {
  margin-top: 30px !important;
  height: 75vh;
  max-width: 1500px;
}

.syncSide {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.optionColumn {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
