.thumbnail {
  background-color: #373737;
  width: 100%;
  height: 212px;
  display: flex;
  justify-content: center;
  align-items: center;
}

$project-card-width: 290px;
$card_bg_color: #fafafa;

.card {
  background-color: $card_bg_color !important;
  margin: 0 !important;
  width: $project-card-width;
}
.card:hover {
  text-decoration: none;
}

$card_font_size: 16px !important;
$card_font_weight: normal !important;
.cardText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: $card_font_size;
  font-weight: $card_font_weight;
}

.cardHeader {
  height: 30px;
  font-size: 18px !important;
  font-weight: bold !important;
}

.ownerName {
  font-size: 14px !important;
  font-weight: $card_font_weight;
}

.cardDescription {
  /*
  `line-clamp` autoprefixing isn't supported yet, see https://github.com/postcss/autoprefixer/issues/1322.
  */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  display: -webkit-box;
  height: 96px;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: $card_bg_color;
  color: #373737 !important;
  font-size: $card_font_size;
  font-weight: $card_font_weight;
}
