.thumbnail {
  background-color: #373737;
  width: 100%;
  height: 212px;
  display: flex;
  justify-content: center;
  align-items: center;
}

$project-card-width: 290px;
.card {
  margin: 0 !important;
  width: $project-card-width;
}
.card:hover {
  text-decoration: none;
}

.cardText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cardDescription {
  /*
  `line-clamp` autoprefixing isn't supported yet, see https://github.com/postcss/autoprefixer/issues/1322.
  */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  display: -webkit-box;
  height: 96px;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}
