.thumbnail {
  background-color: #373737;
  width: 100%;
  height: 212px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover {
  text-decoration: none;
}

.cardText {
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}
