@import '../../components/colors.scss';
@import '../../components/breakpoint.scss';

.searchFormGroup {
  display: grid !important;
  grid-template-columns: 4fr 1fr;
}

.searchButton {
  display: flex;
  align-items: center;
}

.searchForm {
  max-width: 600px;
  margin: auto;
  padding: 1rem;
  padding-bottom: 3rem;
}

.noMatching {
  text-align: center;
  padding-top: 20vh;
}


.introTextContainer {
  margin: 48px auto;
  width: min(700px, 90%);
}

@include breakpoint(mobile_menu) {
  .introTextContainer {
    margin-top: 0;
  }
}

.introText {
  background-color: #fafafa;
  padding: 20px;
  border-radius: 5px;
  text-align: left;
}
