name: Lint processor

on: [push]

defaults:
  working-directory: processor

jobs:
  lint_frontend:
    runs-on: ubuntu-20.04
    steps:
      - name: Setup Node 16
        uses: actions/setup-node@v2
        with:
          node-version: '16'

      - uses: actions/checkout@v2
      - run: 'yarn install'
      - run: 'yarn lint'
      - run: 'yarn tsc'
