name: Lint frontend

on:
  push:
    paths:
      - 'frontend/**'

defaults:
  run:
    working-directory: frontend

jobs:
  lint_frontend:
    runs-on: ubuntu-20.04
    steps:
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - uses: actions/checkout@v3
      - run: 'yarn install'
      - run: 'yarn tsc'
      - run: 'yarn lint --max-warnings 0'
