name: Test processor

on:
  push:
    paths:
      - 'processor/**'

jobs:
  test_processor:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'recursive'
      - run: cp .env.example .env
      - run: docker-compose -f docker-compose.test-processor.yml run --rm processor
