name: Test frontend

on:
  push:
    paths:
      - 'frontend/**'

defaults:
  run:
    working-directory: frontend

jobs:
  lint_processor:
    runs-on: ubuntu-20.04
    steps:
      - name: Setup Node 16
        uses: actions/setup-node@v2
        with:
          node-version: '16'
      - uses: actions/checkout@v2
      - run: 'yarn install'
      - run: 'yarn vitest --run'
