name: Test processor

on:
  push:
    paths:
      - 'processor/**'

jobs:
  test_processor:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - run: cp .env.example .env
      - run: scripts/clear_volumes_and_test_processor.sh
