name: Test processor

on: [push]

jobs:
  test_processor:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - run: 'cp .env.example .env && docker-compose run -e DISPLAY=:99 processor /bin/bash -c "Xvfb :99 -ac -nolisten tcp & yarn test"'
